body {
    background-color: #fca8f8;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ff3366;
}

h2#subtitle {
    text-align: center; /* Centra el subtítulo */
    font-size: 14px; /* Haz el subtítulo más pequeño */
    color: #ff3366; /* Puedes ajustar el color si lo deseas */
    margin-top: 10px; /* Añade un poco de espacio superior */
}

h2#lateSubtitle {
    text-align: center; /* Centra el subtítulo */
    font-size: 12px; /* Haz el subtítulo más pequeño */
    color: #f85b82; /* Puedes ajustar el color si lo deseas */
    margin-top: 5px; /* Añade un poco de espacio superior */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #ff3366;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff1a4d;
}

#noBtn {
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #ffc0cb;
    border-radius: 10px;
    transition: transform 0.5s ease; /* Add this line for smooth scaling */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px; /* Add padding to make the button look better */
    background-color: #dc3545; /* Red background */
    color: white;
}

#noBtn span {
    font-size: 18px;
    color: #fcf4f4;
}

#yesBtn {
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #ffc0cb;
    border-radius: 10px;
    transition: transform 0.5s ease; /* Add this line for smooth scaling */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px; /* Add padding to make the button look better */
    background-color: #28a745; /* Green background */
    color: white;
}

#yesBtn span {
    font-size: 18px;
    color: #fcf4f4;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative; /* Add this line */
    height: auto; /* Adjust height for the container */
    width: auto;
}

.gif-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gif-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 100%; /* Set a larger width for the GIF */
    max-width: 150px; /* Maintain aspect ratio */
}

/* Responsive design */
@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }

    #yesBtn, #noBtn {
        width: auto; /* Allow buttons to adjust to content */
        height: auto; /* Allow buttons to adjust to content */
        margin: 5px 0;
        padding: 10px 20px; /* Ensure padding is consistent */
    }
}
